@charset "utf-8";

html {}

body {}


/* header */
header {
    background: #186AC9;
}

#head {
    padding: 20px;
    display: flex;
    position: relative;
}

h1 {
    display: inline;
}

#head-menu {
    /* float: right; */
    display: flex;
    /* margin-left: auto; */
    position: absolute;
    right: 0;
    width: 20%;
    justify-content: space-around;
}

.head-user {
    color: #fff;
    margin-block: auto;
    font-size: larger;
    margin-top: 15px;
}

.home_button {
    height: 40px;
}

/* アコーディオンメニュー */
.menu-trigger {
    cursor: pointer;
    position: relative;
    font-size: larger;
    color: #fff;
    margin-top: 15px;
}

.menu-trigger p {
    position: absolute;
}

.menu-trigger.active p {
    transform: rotate(180deg);
}

/* 幅は１００か２０％
height:30%;
背景白
選択背景青
選択文字白
文字グレー */
.menu-content {
    display: block;
    position: fixed;
    z-index: 2;
    /* padding-top: 80px; */
    transform: translateY(-150%);
    transition: .3s ease-in-out;
    /* height: 30%; */
    width: 20%;
    margin-top: 80px;
}

.menu-content ul {
    display: block;

    background-color: #fff;
    height: 240px;
    font-size: x-large;
    padding-left: 0;
    border: solid thin navy;
}

.menu-content ul li {
    /* padding: 25px; */
    text-align: center;
    height: 33%;
}

.menu-content ul li a {
    color: gray !important;
    display: block;
    height: 100%;
}

.menu-link {
    padding: 20px;
}

.menu-content ul li a:hover {
    background-color: navy;
    color: #fff !important;
}

.menu-content.active {
    transform: translateY(0%);
    transition: .3s ease-in-out;
}


/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100%;
}

#container {
    flex: 0 0 80%;
}

/* サイドバー */
#side-bar {
    flex: 0 0 20%;
    border-left: 1px solid #727272;
}

#confirm {
    border-bottom: 1px solid grey;
    padding: 20px;
}

.list-button {
    text-align: right;
}

.list-button p {
    width: 120px;
}

.search-link {
    text-align: center;
    padding: 30px;
}


a {
    /* リンクの下線消し */
    text-decoration: none !important;
}

.list-link {
    color: #fff;
    border-bottom: none;
}

/* アイコン画像 */
.profile-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
}

/* トップ画面*/

.post-create {
    border-bottom: 5px solid lightgray;
    display: flex;
    flex-wrap: nowrap;
    height: 20%;
    padding: 20px;
}

.form-group {
    height: 100%;
    display: flex;
    position: relative;
    width: 100%;
}

/* 新規投稿のテキストエリア */
.post_content {
    border: none;
    resize: none;
    width: 80%;
    height: 100%;
    position: absolute;
}

.post-btn {
    margin-top: 90px;
    position: absolute;
    margin-left: 80%;
}

/* アコーディオンメニュー */
summary {
    cursor: pointer;
    display: block;
    color: #fff;
}


.summary_inner {
    text-align: center;

}

summary::before {
    content: "";
    position: absolute;
}

details[open] summary::before {
    transform: scaleY(-1);
}

/* 投稿フォーム */
/* /* ボタン大きさ */
.post_button,
.edit_button,
.delete_button,
.search_button {
    width: 35px;
    height: 35px;
    margin: 5px;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
}

/* 削除ボタンホバー時反転 */
.del-button {
    position: relative;
    width: 40px;
    height: 40px;
}

.del-button img {
    position: absolute;
}

.del-button img:last-of-type {
    opacity: 0;
    transition: opacity .2s;
}

.del-button:hover img {
    opacity: 1;

}

/* 投稿表示部分 */
.post-list {
    border-bottom: 1px solid gray;
    padding: 10px 10px 10px 100px;
    display: flex;
    margin-bottom: 0rem !important;
}

.post-list li {
    margin: 5px;
}

.date-button {
    display: block;
    margin-left: auto;
}


.auth-button {
    display: flex;
}

.post-table {
    width: 100%;
    /* height: 100%; */
}

.name-post {
    margin-block: auto;
}

.post-date {
    margin-left: auto !important;
}


/* 検索ゾーン search*/
.search_zone {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 5px solid lightgrey;
    padding: 30px 30px 30px 30px;
}

.search-space {
    width: 300px;
    height: 40px;
}

/* input[type="text"] {
    font-size: 150%;
} */

.search_word {
    margin: auto;
    font-size: large;
}

.users-list {
    margin: 20px 25% 20px 25%;
}

.user-list {
    display: flex;
    /* justify-content: space-between; */
    position: relative;
}

.username {
    padding: 20px;
}

.follow_btn,
.unfollow_btn {
    padding: 15px 0px 15px 0px;
    position: absolute;
    right: 0;

}

.btn-info,
.btn-danger {
    width: 120px;
    color: #fff !important;

}

/* フォローリスト、フォロワーリスト */
.list-name {
    font-size: x-large;
    margin: 30px 30px 70px 70px;
    font-weight: 500;
}

.icon-list {
    display: flex;
    border-bottom: 5px solid lightgray;
}


/* ユーザープロフィール画面userprofile */
.user-container {
    border-bottom: 5px solid lightgray;
    height: 20%;
    display: flex;
    padding: 30px 15px 30px 60px;
    position: relative;
}

.user-profile {
    width: 50%;
    display: grid;
    align-items: center;
    padding-left: 15px;
}


.user-content {
    display: flex;
    /* justify-content: space-evenly; */
}

.user-content p {
    font-size: large;
}

.user-unfollow_btn,
.user-follow_btn {
    padding: 15px 0px 15px 0px;
    position: absolute;
    right: 15px;
    margin-top: 60px;
}

/* プロフィール編集画面 */
.profile-container {
    display: flex;
    padding: 30px 10%;
    text-align: center;
}

.profile-edit {
    /* height: 100vh; */
    width: 80%;
}

.profile-edit input {
    width: 60%;
    background-color: #e7e7e7;
    /* border-width: thin; */
    height: 40px;
    border: solid thin gray;
}

.edit-content {
    display: flex;
    ;
    justify-content: space-between;
    margin: 40px;
}

.profile-lb {
    font-size: large;
    font-weight: bold;
}

/* .profile-upfile {
    height: 100px !important;
} */
.file_upload {
    color: #727272;
    background-color: #e7e7e7;
    border: solid thin gray;
    cursor: pointer;
    width: 60%;
    height: 100px;
    padding: 35px 70px;
}

.file_upload p {
    background-color: #fff;
    font-size: large;
    color: lightgray;
}


input[type="file"] {
    display: none;
}

/* .profile-form {
    display: block;
} */

/* 投稿編集　モーダル */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal_bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal_content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 30%;
}

/* 投稿編集テキストエリア */
.modal_post {
    resize: none;
    width: 100%;
    height: 150px;
}

.modal_content p {
    text-align: center;
}
